<div class="label">
	<span>Caixa do Dia</span>
</div>

<div class="form-new">

	<% if @today_cash == [] %>
		<div class="nav-right">
			<%= form_tag new_cash_path, method: :get do %>
			<span style="visibility: hidden;"><%= text_field_tag :total, @current_cash %></span>
			<span><%= button_to 'Fechar Caixa', nil, class: 'btn btn-primary', data:{confirm: 'Finalizar Caixa do Dia? OBS: Caixa só deve ser fechado ao fim do Expediente!'} %></span>
			<% end %>
		</div>
	<% else %>
		<div class="nav-right">
			<span>
				<%= link_to 'Reabrir Caixa', cash_reopen_path, data:{confirm: 'Deseja Reabrir o Caixa?'}, class: 'btn btn-primary' %>
			</span>
			
		</div>
	<% end %>

	<div class="report-cash">
		<div class="list-cash">
			<p style="color: #CEECF5;">VALOR INICIAL: <%= number_to_currency @begin_value %></p>
			<p style="color: #BCF5A9;">VENDAS: <%= number_to_currency @total_cash_sales %></p>
			<p style="color: #F2F5A9">SERVIÇOS: <%= number_to_currency @total_cash_services %></p>
			<p style="color: #F5A9A9;">SAÍDAS: <%= number_to_currency @total_cash_outflows %></p>
		</div>
		<div class="total-cash" id="total-cash">
			<h2>SALDO</h2>
			<p>
				<% if @current_cash != nil %>
					<%= number_to_currency @current_cash %>
				<% end %>
				<%= hidden_field_tag :balance, @current_cash, id: 'balance' %>
			</p>
		</div>
	</div>
</div>

<script>
	divTotal = document.getElementById('total-cash');
	balance = document.getElementById('balance');
	balance = Number(balance.value);

	if (balance > 0) {
		divTotal.style.background = "#81F79F";
	} else {
		divTotal.style.background = "#F5A9A9";
	}
</script>