<div>
	<table class="table table-bordered">
		<thead>
			<th>Nome</th>
			<th>CPF/RG</th>
			<th>Telefone</th>
			<th>Endereço</th>
			<th>Bairro</th>
			<th>Cidade</th>
		</thead>
		<% @clients.each do |client| %>
		<tbody>
			<tr>
				<td><%= client.name %></td>
				<td><%= client.cpf %></td>
				<td><%= client.fone %></td>
				<td><%= client.address %></td>
				<td><%= client.district %></td>
				<td><%= client.city %></td>
				<td><%= link_to 'Ver', client_path(client), class: 'btn btn-primary' %></td>
			</tr>
		</tbody>
		<% end %>
	</table>
</div>