<div class="label">
	<span>Meus Clientes</span>
</div>

<input type="text" id="search" placeholder="Buscar Cliente" style="float: right; margin-bottom: 1em;">

<div>
	<table class="table table-bordered">
		<thead>
			<th>Nome</th>
			<th>CPF/RG</th>
			<th>Telefone</th>
			<th>Endereço</th>
			<th>Bairro</th>
			<th>Cidade</th>
		</thead>
		<% @clients.each do |client| %>
		<tbody id="table">
			<tr>
				<td><%= client.name %></td>
				<td><%= client.cpf %></td>
				<td><%= client.fone %></td>
				<td><%= client.address %></td>
				<td><%= client.district %></td>
				<td><%= client.city %></td>
				<td class="options-btn">
					<%= link_to client_path(client) do %>
						<i class="fa fa-eye"></i>
					<% end %>
					<%= link_to edit_client_path(client) do %>
						<i class="fa fa-edit"></i>
					<% end %>
				</td>
			</tr>
		</tbody>
		<% end %>
	</table>
</div>

<script>
	$(function(){
	    $("#search").keyup(function(){
	        var texto = $(this).val();
	        $("#table tr").css("display", "table-row");
	        $("#table tr").each(function(){
	            if($(this).text().toUpperCase().indexOf(texto.toUpperCase()) < 0)
					   $(this).css("display", "none");
	        });
	    });
	});
</script>