<div class="home_bottons">
	<%= link_to(image_tag("cliente.png", :width => "100px"), new_client_path) %>
	<%= link_to(image_tag("venda.png", :width => "70px"), new_sale_path, data:{confirm: 'Deseja Efetuar uma Nova Venda?'}) %>
	<%= link_to(image_tag("despesa.png", :width => "70px"), new_expense_path) %>
	<div>
		<%= link_to "Novo Cliente", root_path %>
		<%= link_to "Nova Venda", root_path %>
		<a style="margin-left: -13.5em;"><%= link_to "Nova Despesa", root_path %></a>
	</div>
</div>