<div class="form-new">
	<%= form_for @expense do |f| %>

		<div class="form-group">
			<%= f.label :descricao %>
			<%= f.text_field :description, class: 'form-control' %>
		</div>

		<div class="form-group">
			<%= f.label :valor %>
			<%= f.text_field :total, class: 'form-control' %>
		</div>

		<div class="form-group">
			<%= f.submit :salvar, class: 'btn btn-success' %>
		</div>

		<div style="visibility: hidden;"><%= f.select :category, [@category] %></div>
	<% end %>
</div>