<div>
	<table class="table table-bordered">
		<thead>
			<th>SKU</th>
			<th>Nome</th>
			<th>Quantidade</th>
			<th>Preço</th>
			<th>Tipo</th>
		</thead>
		<% @products.each do |product| %>
		<tbody id="table">
			<tr>
				<td><%= product.sku %></td>
				<td><%= product.name %></td>
				<td><%= product.amount %></td>
				<td><%= number_to_currency product.price %></td>
				<td><%= product.category %></td>
				<td class="options-btn">
					<%= link_to product_path(product) do %>
						<i class="fa fa-eye"></i>
					<% end %>		
				</td>
			</tr>
		</tbody>
		<% end %>
	</table>
</div>