<div class="label">
	<span>Selecione o Cliente</span>
</div>

<div class="form-new">

	<%= form_tag search_client_sale_path(@sale), method: :get, class: 'navbar-form navbar-right' do %>
		<div>
			<%= text_field_tag :name, @name, class: 'form-control' %>
			<%= button_to 'Buscar', nil, class: 'btn btn-success' %>
	</div><br>
	<% end %> 

	<%= form_tag select_sale_path do %>

		<div class="form-group">
			<br>
			<%= label_tag :cpf %>
			<%= text_field_tag :cpf, nil, class: 'form-control' %>
		</div> 

		<div class="form-group">
			<%= submit_tag :selecionar, class: 'btn btn-primary' %>
			<%= link_to :cancelar, cancel_sale_path(@sale), class: 'btn btn-danger', data:{confirm: 'Deseja Cancelar Esta Venda?'} %>
		</div>
	<% end %>
</div>