<div class="label">
	<span>Selecione o Cliente</span>
</div>

<div class="form-new">
	<p>
		<%= link_to cancel_sale_path(@sale), data:{confirm: 'Deseja Cancelar Esta Venda?'} do %>
			<i class="fa fa-window-close btn-icon"></i>
		<% end %>
		<input type="text" id="search" placeholder="Buscar Cliente" style="float: right; margin-bottom: 1em;">
	</p>

	<div>
		<table class="table table-bordered">
			<thead>
				<th>Nome</th>
				<th>CPF/RG</th>
				<th>Cidade</th>
			</thead>
			<% @clients.each do |client| %>
			<tbody id="table">
				<tr>
					<td><%= client.name %></td>
					<td><%= client.cpf %></td>
					<td><%= client.city %></td>
					<td class="options-btn">
						<%= link_to select_client_sale_path(@sale, client) do %>
							<i class="fa fa-external-link-square"></i>
						<% end %>
					</td>
				</tr>
			</tbody>
			<% end %>
		</table>
	</div>
</div>