<div class="label">
	<span>Nº <%= @sale.id %></span>
</div>

<div class="sale">

	<div class="form-group">
		<%= label_tag :cliente %>
		<%= text_field_tag :client, @sale.client.name, class: 'form-control', :disabled=>true %>
	</div><br>

	<div style="float: left;">
		<%= form_tag new_sale_item_path(@sale), method: :get do %>
			<%= label_tag :sku %>
			<%= text_field_tag :sku, nil %>
			<%= button_to 'Incluir', nil, class: 'btn btn-primary' %>
		<% end %>
	</div>

	<div style="float: right; margin-bottom: 0.5em;">
		<%= form_tag search_item_sale_path(@sale), method: :get do %>
			<%= text_field_tag :name, @name %>
			<%= button_to 'Buscar', nil, class: 'btn btn-success' %>
		<% end %>
	</div><br>

	<%= render 'items' %>

	<%= form_for @sale do |f| %>
		<div class="form-group">
			<% if @sale.category == 'service' %>
				<div>
					<%= f.label :descricao %>
					<%= f.text_area_tag :description, @sale.description, class: 'form-control' %>
				</div><br>

				<div>
					<%= f.label :status %>
					<%= f.select_tag :status, options_for_select(['aberta', 'fechada']) %>
				</div><br>
			<% end %>
			<% if @cell == true %>
				<div>
					<%= f.label :IMEI %>
					<%= f.text_field_tag :imei, @sale.imei, class: 'form-control' %>
				</div><br>
				<div>
					<%= f.label :garantia %>
					<%= f.text_field_tag :warrenty, @sale.warrenty, class: 'form-control' %>
				</div><br>
			<% end %>
			
			<%= f.submit :salvar, class: 'btn btn-success' %>
			<%= link_to :cancelar, cancel_sale_path(@sale), class: 'btn btn-danger', data:{confirm: 'Deseja Cancelar Esta Venda?'} %>
		</div>
	<% end %>
</div>
