<div class="label">
	<span>Selecione o Produto</span>
</div>

<input type="text" id="search" placeholder="Buscar Produto" style="float: right; margin-bottom: 1em;">

<div>
	<table class="table table-bordered">
		<thead>
			<th>SKU</th>
			<th>Nome</th>
			<th>Quantidade</th>
			<th>Preço</th>
			<th>Tipo</th>
		</thead>
		<% @products.each do |product| %>
		<tbody id="table">
			<tr>
				<td><%= product.sku %></td>
				<td><%= product.name %></td>
				<td><%= product.amount %></td>
				<td><%= number_to_currency product.price %></td>
				<td><%= product.category %></td>
				<td class="options-btn">
					<%= link_to new_select_sale_item_path(@sale, product), method: :get do %>
						<i class="fa fa-external-link-square btn-icon"></i>
					<% end %>
				</td>
			</tr>
		</tbody>
		<% end %>
	</table>
</div>

<script>
	$(function(){
	    $("#search").keyup(function(){
	        var texto = $(this).val();
	        $("#table tr").css("display", "table-row");
	        $("#table tr").each(function(){
	            if($(this).text().toUpperCase().indexOf(texto.toUpperCase()) < 0)
					   $(this).css("display", "none");
	        });
	    });
	});
</script>