<style type="text/css">
	#hide {
		visibility: hidden;
	}
</style>

<% if @sale.category == 'sale' %>
	<% @title = 'Venda' %>
<% else %>
	<% @title = 'O.S' %>
<% end %>

<div class="label">
	<span><%= @title %> Nº <%= @sale.id %></span>
</div>

<div class="options">
	<span>
		<a href="" onclick="history.go(-1)">
			<i class="fa fa-arrow-left btn-icon"></i>
		</a>
		<% if admin?(current_user) %>
			<%= link_to edit_sale_path(@sale) do %>
				<i class="fa fa-edit btn-icon"></i>
			<% end %>
			<%= link_to cancel_sale_path(@sale), data:{confirm: 'Deseja Excluir a Venda?'} do %>
				<i class="fa fa-trash btn-icon"></i>
			<% end %>
			<% if @sale.status == 'aberta' %>
				<%= link_to finish_sale_path(@sale) do %>
					<i class="fa fa-check btn-icon"></i>
				<% end %>
			<% end %>
		<% end %>
		<%= link_to "#{@sale.id}.pdf" do %>
			<i class="fa fa-print btn-icon"></i>
		<% end %>
	</span>
</div>

<div class="form-new">

	<div class="form-group">
		<%= label_tag :cliente %>
		<%= text_field_tag :client, @sale.client.name, class: 'form-control', :disabled=>true %>
	</div><br>

	<% if @sale.category == 'service' %>
		<div class="form-group">
			<%= label_tag :telefone %>
			<%= text_field_tag :fone, @sale.client.fone, class: 'form-control', :disabled=>true %>
		</div><br>

		<div class="form-group">
			<%= label_tag :endereco %>
			<%= text_field_tag :address, @sale.client.address, class: 'form-control', :disabled=>true %>
		</div><br>
	<% end %>

	<%= render 'items' %>

	<% if @sale.category == 'service' %>
		<div class="form-group">
			<%= label_tag :descricao %>
			<%= text_area_tag :description, @sale.description, class: 'form-control', :disabled=>true %>
		</div>
		<div class="form-group">
			<%= label_tag :status %>
			<%= text_field_tag :status, @sale.status, class: 'form-control', :disabled=>true %>
		</div>
	<% end %>

	<% if @sale.imei != nil %>
		<div class="form-group">
			<%= label_tag :IMEI %>
			<%= text_field_tag :imei, @sale.imei, class: 'form-control', :disabled=>true %>
		</div>
		<div class="form-group">
			<%= label_tag :Garantia %>
			<%= text_field_tag :warrenty, @sale.warrenty, class: 'form-control', :disabled=>true %>
		</div>
	<% end %>

</div>