<!DOCTYPE html>
<html>
  <head>
    <title>Cesarcell - Loja 1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="barra_de_logo">

      <div style="float: left; margin: 0.5em 2em; font-size: 1.3em;">
        <p>Loja 01</p>
      </div>

      <p class="logo"><%= image_tag "logo.png", :width => "250px", :height => "100px"%></p>

      <div class="info-login">
        <% if signed_in? %>
          <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: "btn btn-default", data:{confirm: 'Lembre-se de Fechar o Caixa ao Fim do Dia =)'} %>
          <span class="current_user"><%= current_user.email%></span>
          <%= image_tag "login.png", :width => "30px", :height => "30px" %>
        <% end %>
      </div>
    </div>

    <input type="checkbox" id="bt_menu">
    <label for="bt_menu">&#9776;</label>

    <nav class="menus"> <!-- Menu de Navegação -->
      <ul>
        <div class="apple">
          <%= link_to (image_tag 'apple.png', :width => "35px", :height => "30px"), root_path %>
        </div>

        <% if signed_in? %>
        <li><a href="">Clientes</a>
          <ul>
            <li><%= link_to "Novo Cliente", new_client_path %></li>
            <li><%= link_to "Clientes", clients_path %></li>
          </ul>
        </li>
        <li><a href="">Caixa</a>
          <ul>
            <li><%= link_to 'Nova Venda', new_sale_path, data:{confirm: 'Deseja Efetuar uma Nova Venda?'} %></li>
            <li><%= link_to 'Nova Despesa', new_expense_path %></li>
            <li><%= link_to 'Vale Funcionario', advance_expense_path %></li>
            <li><%= link_to 'Devolução', devolution_expense_path %></li>
            <li><%= link_to 'Vendas do Dia', sales_sales_day_path %></li>
            <li><%= link_to 'Despesas do Dia', expenses_expenses_day_path %></li>
            <% if admin?(current_user) %>
              <li><%= link_to 'Caixa do Dia', cash_index_path %></li>
              <li><%= link_to 'Reabrir Caixa', cash_reopen_path, data:{confirm: 'Deseja Reabrir o Caixa?'} %></li>
            <% end %>
          </ul>
        </li>
        <li><a href="">Estoque</a>
          <ul>
            <% if admin?(current_user) %>
              <li><%= link_to 'Novo Produto', new_product_path %></li>
            <% end %>
            <li><%= link_to 'Celulares', products_cell_path %></li>
            <li><%= link_to 'Eletrônicos', products_eletronic_path %></li>
            <li><%= link_to 'Peças', products_part_path %></li>
            <li><%= link_to 'Acessórios', products_accessory_path %></li>
            <li><%= link_to 'Todos Produtos', products_path %></li>
          </ul>
        </li>
        <li><a href="">Ordens de Serviço</a>
          <ul>
            <li><%= link_to 'Nova O.S', new_service_sale_path, data:{confirm: 'Deseja Abrir uma Nova O.S?'} %></li>
            <li><%= link_to 'O.S Abertas', sales_opens_path %></li>
            <li><%= link_to 'O.S do Dia', sales_services_day_path %></li>
          </ul>
        </li>
        <li><a href="">Relatorios</a>
          <% if admin?(current_user) %>
            <ul>
              <li><%= link_to 'Todas Vendas', sales_path %></li>
              <li><%= link_to 'Por Vendedor', sales_salesman_path %></li>
              <li><%= link_to 'Comissao', sales_commission_path %></li>
              <li><%= link_to 'Todas Despesas', expenses_path %></li>
              <li><%= link_to 'Despesas Gerais', expenses_expenses_path %></li>
              <li><%= link_to 'Vales Funcionario', expenses_advances_path %></li>
              <li><%= link_to 'Devoluções', expenses_devolutions_path %></li>
              <li><%= link_to 'Todas O.S', sales_services_path %></li>
              <li><%= link_to 'Saldo Estoque', products_category_path %></li>
              <li><%= link_to 'Valor Estoque', products_cost_path %></li>
              <li><%= link_to 'Caixa Fechado', cash_report_path %></li>
            </ul>
          <% end %>
        </li>
        <li><a href="">Usuários</a>
          <ul>
            <li><%= link_to 'Alterar Senha', users_edit_user_path %></li>
            <% if admin?(current_user) %>
              <li><%= link_to 'Novo Usuário', new_user_path, data:{confirm: 'Deseja Criar Novo Usuario?'} %></li>
              <li><%= link_to 'Todos Usuários', users_path %></li>
            <% end %>
          </ul>
        </li>
        <% end %>
      </ul>

    </nav> <!-- fim do Menu -->

    <div class="container-primary">

      <% if flash[:notice] %>
        <div class="alert alert-info" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </div>

    <footer class="footer">
      <p style="line-height: 50px; font-size: 1.5em; margin-bottom: 0px">Loja 01 - Cesar Cell</p>
      <p>&copy; Todos os direitos reservados</p>
    </footer>

  </body>
</html>
